<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todolol - logowanie</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="${user.login}">
            Przywitanie
        </p>
        Nowe logowanie z adresu IP: <!--/*@thymesVar id="ip" type="string"*/-->
        <span th:text="${ip}">ip</span>
    </body>
</html>
